.header {
	@include flex;
	height: 80px;
	.top-menu {
		@include flex;
	}

	&-search {
		max-width: 120px;
		@media (max-width: 992px) {
			position: absolute;
			left: 40px;
		}
		@media (max-width: 767px) {
			left: 6px;
		}
	}
	 .top-menu ul {
		@include flex;
		margin-right: 57px;
		margin-left: 82px;

		li {
			padding-right: 60px;
			&:last-child {
				padding-right: 0;
			}
			a {
				color: #fff;
				font-weight: 700;
				&:hover {
					color: $text-color;
				}
			}
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
	input[type="search"] {
		background: url(../img/search.png) no-repeat 9px center;
		border: none;
		// padding: 9px 10px 9px 32px;
		width: 55px;
		transition: all 0.2s;
		@media (max-width: 480px) {
			max-width: 60px;
		}
	}
	input[type="search"]:focus {
		width: 130px;
		border-bottom: 1px solid #fff;
	}

	input:-moz-placeholder {
		color: #999;
	}
	input::-webkit-input-placeholder {
		color: #999;
	}
	&-search input[type="search"] {
		width: 15px;
		padding-left: 10px;
		color: transparent;
		cursor: pointer;
	}
	&-search input[type="search"]:focus {
		width: 130px;
		padding-left: 32px;
		color: #000;
		background-color: transparent;
		cursor: auto;
	}
	&-search input:-moz-placeholder {
		color: transparent;
	}
	&-search input::-webkit-input-placeholder {
		color: transparent;
	}
	.top-menu-icon {
		border: 1px solid #fff;
		border-radius: 100%;
		cursor: pointer;
		img {
			padding: 14px;
		}
		@media (max-width: 992px) {
			position: absolute;
			right: 45px;
		}
		@media (max-width: 767px) {
			right: 15px;
		}
	}
	.logo {
		@media (max-width: 992px) {
			margin: 0 auto;
		}
	}
}

.menu {
	background: #fff;
	position: absolute;
	top: 80px;
	border-radius: 20px;
	max-width: 1170px;
	width: 100%;
	box-shadow: 0px 4px 30px rgba(0,0,0,.15);
	display: none;
	ul {
		@include flex;
		//padding: 25px 30px;
		li {
			a {
				color: $text-color;
				font-weight: 700;


				&:hover {
					color: lighten($text-color, 25%);
				}
				&.icon {
					position: relative;
					&:after {
						background: url(../img/arrow-icon.png) no-repeat;
						content: "";
						width: 12px;
						height: 12px;
						position: absolute;
						right: -20px;
						bottom: 0px;
					}
				}
			}
			padding: 25px;
			&.active {
				background:$bg-main;
				border-top-left-radius:20px;
			}
		}
	}
	.drop {
		position: absolute;
		max-width:1200px;
		width: 100%;
		top: 75px;
		left: 0;
		@include flex;
		justify-content: center;
		background:$bg-main;
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;
		display: none;
		&.open {
			display: inline-flex;
		}
	}
	&.open {
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
	}
	&.active {
		display: block;
	}
}
