#home {
	background-image: url(../img/bg-main.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	.home-logo {
		width: 427px;
		margin: 161px auto 0;
		display: block;
		@media (max-width: 767px) {
			display: none;
		}
	}
	@media (max-width: 767px) {
		height: 555px;
	}
}
