.reviews {
	background-color: #f5f8f8;
	padding: 64px 0;
	.container {
		position: relative;
	}
	.slick-list {
		margin: 0 -130px;
		@media (max-width: 1200px) {
			margin: 0 -50px;
		}
	}
	&-slider-arrows {
		position: absolute;
		right: 15px;
		top: 65px;
		button {
			border: 0;
			background: none;
			outline: 0;
		}
		@media (max-width: 480px) {
			top: 57px;
		}
	}
	#prevReviews {
		margin-right: 35px;
		@media (max-width: 480px) {
			margin-right: 25px;
		}
	}

	&-top-title {
		color: $main-text;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 30px;
		display: block;
		@media (max-width: 480px) {
			font-size: 16px;
		}
	}
	&-title {
		font-size: 36px;
		b {
			color: red;
		}
		span {
			font-weight: 700;
		}
		@media (max-width: 480px) {
			font-size: 24px;
		}
	}
	&-slider {
		padding-top: 50px;
		margin-left: 120px;
		&-item {
			padding: 0 130px;
			@media (max-width: 1200px) {
				padding: 0 50px;
			}
		}
		@media (max-width: 1200px) {
			margin-left: 0;
		}
		@media (max-width: 480px) {
			padding-top: 24px;
		}
	}
	.slider-item {
		&-top {
			@include flex;
			max-width: 300px;
			align-items: baseline;
			.date {
				font-size: 18px;
				color: #666;
			}
			.stars {
				@include flex;
			}
		}
		&-name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 10px;
			display: block;
		}
		&-text {
			margin-bottom: 0;
			margin-top: 24px;
		}
	}
	&-detail-link {
		margin-top: 65px;
	}
}
